@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: Android;
    src: url(fonts/idroid.otf) format(opentype);
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'bebas neue', cursive;
    --fonte-android: Android, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

header {
    min-height: 150px;
    text-align: center;
    padding: 25px;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.671);
}

header h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    color: white;
    padding: 8px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px black;
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 16px;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

nav {
    background-color: var(--cor5);
    text-align: left;
    padding: 10px;
}

nav a {
    color: #ecebeb;
    padding: 10px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.3s;
}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    font-weight: bold;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 18px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.671);
}

main h1 {
    margin: 10px 0;
    font-family: var(--fonte-android);
    font-size: 1.8em;
    font-weight: 550;
    color: var(--cor5);
}

main h2 {
    margin: 10px 0;
    font-family: var(--fonte-android);
    font-weight: 550;
    color: var(--cor4);
    background-image: linear-gradient(to right, var(--cor0), transparent);
    padding: 0 10px;
}

main p {
    margin: 20px 0;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main img {
    width: 100%;
    display: block;
    margin: auto;
    height: auto;
}

main #boco_android {
    display: block;
    max-width: 350px;
    margin: auto;
}

main .video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.5%;
    position: relative;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main .link-exter {
    color: var(--cor4);
    font-weight: bolder;
    text-decoration: none;
    background-color: var(--cor1);
    padding: 2px 6px;
    border-radius: 4px;
}

main .link-exter:hover {
    text-decoration: underline;
    color: var(--cor3);
}

main .link-exter::after {
    content: '\00A0\1F517';
}

aside {
    background-color: #9adfb9;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside h3 {
    background-color: var(--cor3);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0 0;
}

aside ul {
    list-style-type: '\2714\0020\0020';
    list-style-position: inside;
    columns: 2;
    color: black;
    margin: 15px 0;
}

aside p {
    text-align: justify;
    margin: 10px 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 6px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}